In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\jeni7\OneDrive\Documents\CTS_Hackathon\dataset\dataset.csv")

In [2]:
df.head()

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,[70-80),8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no
1,[70-80),3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no
2,[50-60),5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes
3,[70-80),2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes
4,[60-70),1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no

In [3]:
readmission_counts = df['readmitted'].value_counts()
print(readmission_counts)

readmitted
no     13246
yes    11754
Name: count, dtype: int64

In [ ]:
ratio = readmission_counts[1] / readmission_counts[0]
print(f"Readmission ratio (Yes:No) = {readmission_counts[1]}:{readmission_counts[0]}")

Readmission ratio (Yes:No) = 11754:13246

C:\Users\jeni7\AppData\Local\Temp\ipykernel_26872\2846605694.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ratio = readmission_counts[1] / readmission_counts[0]
C:\Users\jeni7\AppData\Local\Temp\ipykernel_26872\2846605694.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"Readmission ratio (Yes:No) = {readmission_counts[1]}:{readmission_counts[0]}")

In [5]:
readmission_percent = readmission_counts / readmission_counts.sum() * 100
print(readmission_percent)

readmitted
no     52.984
yes    47.016
Name: count, dtype: float64